.country-list-container {
    height: 87vh;
    width: 25vw;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: white;
    z-index: 1000;
    margin: 2rem;
    border-radius: 10px;
    overflow: hidden;

    &.min-size {
        height: 40px;
    }
}

.country-list-container-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    z-index: 9999;
}

.country-list-header {
    margin-top: 2rem;
}

.country-list {
    list-style: none;
    overflow: hidden;
}

.country-list-fullscreen {
    width: 95%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 1rem;
}

.country-list-item {
    font-size: 0.7rem;
    cursor: pointer;
}

.country-list-item_selected {
    background: thistle;
}

.country-list-item-country {
    color: darkred;
}

.country-list-item-flag {
    width: 1rem;
    height: auto;
}

.fullscreen-button {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 0.3rem;
    right: 0.3rem;
    outline: none;
}

.fullscreen-image {
    width: 100%;
    height: auto;
}
