.country-list-container {
    width: 25vw;
    background-color: white;
    z-index: 1000;
    margin: 2rem;
    overflow: hidden;
    max-width: 315px;
    min-width: 230px;

    &.min-size {
        height: 40px;
    }
}

.country-list-container-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    z-index: 9999;
}

.country-list {
    overflow: hidden;
    padding: 1em 0;

    table {
        width: 94%;
    }
}

.country-list-fullscreen {
    width: 95%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 1rem;
}

.country-list-item {
    cursor: pointer;
    text-align: left;
    padding: 0.1em;

    td:last-child {
        text-align: right;
        font-weight: 600;
    }
}

.country-list-item_selected {
    background: thistle;
}

.country-list-item-country {

}

.country-list-item-flag {
    height: auto;
    width: 1.3rem;
    border: 1px solid #ccc;
}

.fullscreen-button {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 0.3rem;
    right: 0.3rem;
    outline: none;
}

.fullscreen-image {
    width: 100%;
    height: auto;
}

.row-search {
    display: flex;
    align-items: center;
    margin: 0.5em 1em;
    justify-content: left;
}

#searсh {
    width: 100%;
}

.v-keyboard {
    display: flex;
    margin-left: 0.4em;
    align-items: center;
    justify-content: center;
    margin-right: 0;

    svg {
        margin-right: 0;
    }
}