.graph-wrapper {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: white;
    z-index: 1000;
    margin: 2rem;
    border-radius: 10px;
    min-height: 400px;
}

.graph-wrapper h4 {
    margin: 0;
}