.summary-wrapper {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: white;
    z-index: 1000;
    margin: 2rem;
    border-radius: 10px;
}

.tables-wrap:last-child {
    margin-bottom: 15px;
}

.summaries-table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;

    .current-country {
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .title {
        margin-bottom: 0;
        margin-top: 20px;
    }

    th {
        font-size: .85em;
        letter-spacing: .1em;
        text-transform: uppercase;
    }

    tr {
        background: #f8f8f8;
        border: 1px solid #ddd;
        padding: .35em;
    }

    th,
    td {
        padding: .625em;
        text-align: center;
    }

}

.count-change-wrap {
    padding: 15px 10px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    align-items: center;

}

@media screen and (max-width: 600px) {

    .count-change-wrap {
        padding: 15px 5px;
        flex-direction: column;
        div {
            padding: 5px 0;
        }
    }

    .summaries-table {
        border: 0;

        caption {
            font-size: 1.3em;
        }

        thead {
            display: none;
        }

        tr {
            border-bottom: 3px solid #ddd;
            display: block;
            margin-bottom: .625em;
        }

        td {
            border-bottom: 1px solid #ddd;
            display: block;
            font-size: .8em;
            text-align: right;
        }

        td:before {
            content: attr(aria-label);
            float: left;
            font-weight: bold;
            text-transform: uppercase;
        }

        td:last-child {
            border-bottom: 0;
        }
    }
}