.country-list-container {
    max-height: 80vh;
    width: 25vw;
}

.country-list-sortBy {
    cursor: pointer;
    background: whitesmoke;
    border: solid 1px black;
    border-right: none;
    border-left: none;
}

.country-list {
    list-style: none;
    height: 80%;
    overflow-y: scroll;
}

.country-list-item {
    font-size: 0.7rem;
    cursor: pointer;
}

.country-list-item-country {
    color: darkred;
}

.country-list-item-flag {
    width: 1rem;
    height: auto;
}
